/*
 * @Description: Action-Sheet
 * @Author: Lisemd
 * @Date: 2019/9/21
 */

/* 弹出菜单 */
.yk-action-sheet > .yk-action-sheet-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 640px;
    margin: auto;
    background: #eee;
    transition: transform .3s;
    transform: translateY(100%);
    z-index: 301;
}

/* 菜单弹出时，改变容器位置 */
.yk-action-sheet.show .yk-action-sheet-wrap {
    transform: translateY(0);
}

/* 默认隐藏蒙版 */
.yk-action-sheet > .yk-mask {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

/* 菜单弹出时显示模板 */
.yk-action-sheet.show > .yk-mask {
    opacity: 1;
    pointer-events: auto;
}

/* 弹出菜单头部 */
.yk-action-sheet .yk-action-sheet-header {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    height: 3rem;
    background: #fff;
}

/* 头部标题，用来描述菜单作用 */
.yk-action-sheet .yk-action-sheet-header > .yk-action-sheet-title {
    flex: 1;
    font-size: .7rem;
    line-height: 1rem;
    font-weight: normal;
    color: rgba(0, 0, 0, .3);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 中间主要内容区 */
.yk-action-sheet .yk-action-sheet-body {
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
}

/* 菜单尾部，通常用来放取消按钮 */
.yk-action-sheet .yk-action-sheet-footer {
    margin-top: .3rem;
    background: #fff;
}

/* 每个菜单项 */
.yk-action-sheet .yk-action-sheet-menu {
    display: block;
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: .8rem;
    text-align: center;
}

/* 菜单项的边框控制 */
.yk-action-sheet .yk-action-sheet-menu + .yk-action-sheet-menu {
    border-top: 1px solid rgba(0, 0, 0, .1);
}
