/*
 * @Description: 颜色样式
 * @Author: Lisemd
 * @Date: 2019/9/21
 */

/* 猩红 */
.bg-color-crimson {
    background: #DC143C;
}
.color-crimson {
    color: #DC143C;
}

/* 粉红 */
.bg-color-hotpink {
    background: #FF69B4;
}
.color-hotpink {
    color: #FF69B4;
}

/* 紫色 */
.bg-color-purple {
    background: #800080;
}
.color-purple {
    color: #800080;
}

/* 紫罗兰 */
.bg-color-violet {
    background: #EE82EE;
}
.color-violet {
    color: #EE82EE;
}

/* 熏衣草花的淡紫色 */
.bg-color-lavender {
    background: #E6E6FA;
}
.color-lavender {
    color: #E6E6FA;
}

/* 淡白色 */
.bg-color-ghostWhite {
    background: #F8F8FF;
}
.color-ghostWhite {
    color: #F8F8FF;
}

/* 天蓝色 */
.bg-color-skyBlue {
    background: #87CEEB;
}
.color-skyBlue {
    color: #87CEEB;
}

/* 淡青色 */
.bg-color-lightCyan {
    background: #E1FFFF;
}
.color-lightCyan {
    color: #E1FFFF;
}

/* 绿宝石 */
.bg-color-turquoise {
    background: #40E0D0;
}
.color-turquoise {
    color: #40E0D0;
}

/* 苍白的绿色 */
.bg-color-paleGreen {
    background: #98FB98;
}
.color-paleGreen {
    color: #98FB98;
}

/* 蜂蜜 */
.bg-color-honeydew {
    background: #F0FFF0;
}
.color-honeydew {
    color: #F0FFF0;
}

/* 卡其布 */
.bg-color-khaki {
    background: #F0E68C;
}
.color-khaki {
    color: #F0E68C;
}

/* 晒黑 */
.bg-color-tan {
    background: #D2B48C;
}
.color-tan {
    color: #D2B48C;
}

/* 番茄 */
.bg-color-tomato {
    background: #FF6347;
}
.color-tomato {
    color: #FF6347;
}

/* 银白色 */
.bg-color-sliver {
    background: #C0C0C0;
}
.color-sliver {
    color: #C0C0C0;
}
